version: "3.8"

services:
  backend:
    build: ./api
    container_name: hm_api_docker
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./api:/api
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8000/status"]
        interval: 30s
        timeout: 10s
        retries: 3
        start_period: 40s