name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo chown -R $USER:$USER /var/www/fastapi_app
            git config --global --add safe.directory /var/www/fastapi_app
            cd /var/www/fastapi_app

            # Sätter rätt URL (baserat på din bild)
            git remote set-url origin https://github.com/hasm7/hemtenta-workflow-h-m.git

            # Tvingar servern att bli exakt som GitHub
            git fetch origin
            git reset --hard origin/main

            if [ -f "docker-compose.yml" ]; then
              docker compose down
              docker compose up -d --build
              docker image prune -af
              docker compose ps
            fi

